<html>
<head>
    <title>Chat Room</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {

    var socket = io.connect('http://127.0.0.1:5000');

    socket.on('connect', function() {
        socket.send('User has connected!');
    });

    socket.on('message', function(msg) {
        $("#messages").append('<li class="list-group-item">'+msg+'</li>');
        console.log('Received message');
    });

    $('#sendbutton').on('click', function() {
        socket.send($('#myMessage').val());
        $('#myMessage').val('');
    });

});
</script>

<div class="p-3 mb-2 bg-primary text-white">
<div class="container">
    <h2>Christoph Champ's Simple Chat Room</h2>

    <div class="row">
        <div class="col-sm-8" style="overflow:scroll;">
            <ul class="list-group list-group-flush" id="messages"></ul>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="row">
            <div class="col-xs-9">
                <input type="text" class="form-control" id="myMessage">
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success btn-block" id="sendbutton" (click)="">Send</button>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
